
.body{
    width:100%;
    display:flex;
    justify-content:center;
   
    
    background-color: rgb(255, 255, 255);
    height:100vh
}
.cart{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
    width:33%;
    height:auto;
    gap:10px;
}
.cart h2{
    font-size:25px;
    width:90%
}  
.cart img{
    width:90%;
    height:auto;
}
.cart span{
    font-size:15px;
    width:90%;
    text-align: justify;
}
.cart span:first-child{
    margin-top:50px
}